@import "tailwindcss";

/* marquee carousel */
.marquee {
  overflow: hidden;
}

.marquee__content {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

*{
  scroll-behavior: smooth;
}

input[type="range"]{
    -webkit-appearance:none;
    appearance:none;
    width:100%;
    background:transparent;
}

input[type="range"]::-webkit-slider-runnable-track{
    height:4px;
    background:transparent;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance:none;
    width:18px;
    height:18px;
    border-radius:50%;
    background:#000000;
    cursor:pointer;
    margin-top:-7px;
    pointer-events:auto;
    position: relative;
    top: 13px;
}